* {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-visual {
	background-image: url(img2/mv.jpg);
	width: 100%;
	height: 400px;
	background-position: bottom;
	background-size: cover;
}

.headline {
	padding: 20px;
}

main {
	width: 840px;
	margin: 50px auto;
}

.servise {
	padding-bottom: 30px;
	border-bottom: 1px solid #d1d1d1;
    margin-bottom: 30px;
}

.servise2 {
	padding-bottom: 30px;
	border-bottom: 1px solid #d1d1d1;
    margin-bottom: 30px;
}

.servise3 {
	padding-bottom: 30px;
	border-bottom: 1px solid #d1d1d1;
    margin-bottom: 30px;
}

.servise4 {
	padding-bottom: 30px;
	border-bottom: 1px solid #d1d1d1;
    margin-bottom: 30px;
}